.background{
  background-image: url(../assets/images/sunny-day.jpg);
  height: 900px;
  width: 100%;
}
.box{
  /*outline: 1px solid red;*/
  width: 50%;
  height: 30%;
  position:relative;
  top: 60%;
  left: 40%;
}
.cat{
  background-image: url(../assets/images/kitten-medium.png);
  background-repeat: no-repeat;
  background-position: center;

}

@media (max-width: 768px) {
   .background {
    background-image: url(../assets/images/dawn.png);
    background-repeat: no-repeat;
  }
  .cat{
    
  }
  }
