.background{
  background-image: url(../assets/images/sunny-day.jpg);
  height: 900px;
  width: 100%;
}
.box{
  /*outline: 1px solid red;*/

}
.cat{
  background-image: url(../assets/images/kitten-medium.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 30%;
  position:relative;
  top: 60%;
  left: 40%;

}

@media (max-width: 900px) {
   .background {
     outline: 1px solid red;
    background-image: url(../assets/images/dawn.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;

  }
  .cat{
    background-image: url(../assets/images/kitten-large.png);
    height: 50%;
    width: 100%;
    left: 0%;
    top: 50%;
  }
  }

  @media (max-width: 800px) {
     .background {
      background-image: url(../assets/images/night.jpg);
      background-repeat: no-repeat;
      height: 1000px;
    }
    .cat{
      background-image: url(../assets/images/kitten-small.png);


    }
    }
